.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    color: white;

}

.icon {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.icon img {
    padding-right: 10px;
    width: 50px;
}

.col {
    width: calc(100% / 6);
    padding: 10px;

}

.hero {
    background-image: url(../assets/img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}